<h2 style="color: #B00100; margin: 0 auto;">RUBY on RAILS</h2>
<h4>New item</h4>

<%= form_tag items_path, method: :post do %>
	<%= label_tag :name %>
	<%= text_field_tag :name %>
	<%= label_tag :price %>
	<%= text_field_tag :price %>
	<%= submit_tag "Save", class: "btn btn-large btn-primary" %>
<% end %>
